@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Kalam', cursive;
    margin: 0;
    padding: 0;
    
}
h1{
    
    font-size: 3rem;
    text-transform: uppercase;
}
#noodle{
    background-color: rgb(208, 191, 224);
    border: solid 1px blueviolet;
    margin: 1%;
    padding: 0.7%;
    font-size: 1.15rem;
    position: relative;
}

#pasta{
    background-color: rgb(203, 228, 179);
    border: solid 1px rgb(41, 121, 77);
    margin: 1%;
    padding: 0.7%;

    font-size: 1.15rem;

    
}

#pizza{
    background-color: rgb(253, 210, 194);
    border: solid 1px coral;
    margin: 1%;
    padding: 0.7%;
    font-size: 1.15rem;

}


